/* Color Palette */
/*
--melon: hsla(5, 38%, 100%, 1);
--eggshell: hsla(46, 12%, 98%, 1);
--aero-blue: hsla(168, 24%, 95%, 1);
--powder-blue: hsla(188, 22%, 88%, 1);
--black-coral: hsla(222, 18%, 45%, 1);
*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    color: hsla(222, 18%, 45%, 1);
    background-color: hsla(46, 12%, 98%, 1);
    padding-bottom: 150px;
}
header {
    padding: 15px;
    background-color:hsla(188, 22%, 88%, 1);
    color: hsla(222, 18%, 45%, 1);
    font-weight: bold;
}

.logo {
    display: block;
    font-size: 24px;
    text-decoration: none;
    text-align: center;
}

.logo img {
    display: block;
    width: 200px;
    margin: auto;
}

.logo span {
    display: block;
}

nav {
    width: 80%;
    margin: auto; /*How to center a block that is not 100% width */
    margin-top: 15px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    background-color: rgba(255,255,255,0.2);
}

nav li {
    display: inline-block;
    padding: 15px;
    background-color: rgba(255,255,255,0.2);
}

aside {
    color: hsla(222, 18%, 45%, 1);
    text-align: center;
    padding: 15px;
    background-color: #fe7171;
    float: left;
    width: 20%;
    overflow: hidden;
    box-sizing: border-box; /* Don't forget border-box if you're adding any additional width through padding, borders, etc. */
}

aside img {
    display: block;
    background: rgb(247, 155, 144);
    border-radius: 25%;
}

section {
    padding: 15px;
    float: left;
    width: 80%;
    box-sizing: border-box;
    background-color:hsla(188, 22%, 88%, 1);
}

.clear-float {
    clear: both;
    overflow: hidden;
}

.relative-parent { /* when positioning non-static elements, they will position themselves to the screen, unless they have a parent with non-static positioning, such as relative */
    position: relative;
}

footer {
    padding: 15px;
    text-align: center;
    background-color: hsla(188, 22%, 88%, 1);
    color: hsla(222, 18%, 45%, 1);
    position:fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
A custom Google font for highlights
A specified standard sans-serif web font for data (such as Arial, Verdana, or Helvetica)
A specified standard serif web font for text (such as Georgia, Times, etc.)
Specified different font colors for all three font usages
A background color for the default page background (make sure font colors have good contrast and are readable on this background)
A different background color for elements such boxes and tables (so make sure the font colors contrast against this well, too!)
Anything else you’d like to add related to style. But remember: simplicity, clarity, and consistency are good things in design.
Be thoughtful about layout and overall organization of the page.
Include all of the typical stuff that you’ll find on the home page of a business: locations, hours, contact information, some text about how awesome the business is, etc. Be creative, and again, think about what is meaningful to a typical end user.
